html{
  background: url('../images/fieldGrass.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

header{
  font-family: 'Do Hyeon';
  font-size: 2em;
  text-align: center;
  padding: 20px;
  margin: 10px;
  margin-bottom: 30px;
}

p, div {
  font-family: 'Prompt';
}

div {
  display: inline-block;
}

#logo{
  font-family: 'Nanum Gothic';
  font-size: 1.75em;
  margin: 5px;
  position: fixed;
  top: 0px;
}

#logo a{
  text-decoration: none;
}

#game{
  display: block;
  max-width: 960px;
  height: 450px;
  padding: 25px 15px 25px 15px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(0,0,0,0.5);
}

#enemy, #player{
  height: 300px;
  width: 300px;
  border: 5px solid #fff;
  position: relative
}

#enemy p{
  position: relative;
  text-align: center;
  top: 35%;
}

.hitBox{
  height: 75px;
  background-color: rgb(155, 14, 14);
  color: #ffffff;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 5px;
  padding: 5px;
}

.loopAnimation{
 animation-delay: 7s;
 animation-iteration-count: infinite;
}

.layout-select{
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;

}

.layout-battle{
  height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;

}

.img-container {
  background-color: #ffffff;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

.text-bg{
  font-size: 4em;
}

.text-md{
  font-size: 2em;
}

.text-white{
  color: #ffffff;
}

.text-black{
  color: #000;
}

.text-stat{
  text-align: center;
  padding: 5px;
  margin: 5px;
  background-color: #ffffff;
}

.vertical{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thumbnail-md{
  height: 100px;
  width: 150px;
}

.thumbnail-sm{
  height: 40px;
  width: 65px;
}

.prompt-text{
  font-size: 1.25em;  text-align: center;
  padding: 5px;
  color: #ffffff;
}
